body {
    
    /* background: #b3b143a8; */
    background: #ecd8cb;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}
.content {
    text-align: center;
}
.combo {
    display: inline-block;
    justify-content: center;
}
#ccar{
    /* background: #ff0000; */
    /* text-align: center; */
    margin: 0 auto;
    float: center;
    width: 100%;
    height: 280px;
}
#zk{
    border-style: solid;
}

#cont1 {
    /* background: #f80000; */
    float: left;
    width: 40%;
    height: 280px;
    
}
#cont2 {
    /* background: #f80000; */
    float: left;
    width: 60%;
    height: 280px;
}
#content {
    
    /* background: #f80000; */
    text-align: center;
}
#footer {

    /* background: #7ce6ee; */
    display: inline-block;
    position: absolute;
    left: 0 ;
    bottom: 0 ;
    
    width: 100%;
    height: 80x;
    min-height: 0%;
}